@model Introducao01.Models.Pessoa


@{
    ViewBag.Title = "Index";
}

<h2>Curso Asp Net MVC</h2>
<p>Aprendendo Asp Net MVC - Hugo Cursos</p>

<hr />


<br /><br />


<!--
    <p>@ViewData["PessoaId"] </p>
    <p>@ViewData["Nome"] </p>
    <p>@ViewData["Tipo"] </p>

-->

<!--
    <p>@ViewBag.id </p>
    <p>@ViewBag.nome </p>
    <p>@ViewBag.tipo </p>
-->

<p>View Tipada</p>

@using (Html.BeginForm("Lista", "Home", FormMethod.Post))
{
    <fieldset>
        <legend>Informações de Pessoas</legend>


        <div>
            @Html.LabelFor(x => x.PessoaId)
        </div>
        <div>
            @Html.EditorFor(x => x.PessoaId)
        </div>


        <div>
            @Html.LabelFor(x => x.Nome)
        </div>
        <div>
            @Html.EditorFor(x => x.Nome)
        </div>


        <div>
            @Html.LabelFor(x => x.Tipo)
        </div>
        <div>
            @Html.EditorFor(x => x.Tipo)
        </div>

        <p><input type="submit" value="Enviar" /></p>


    </fieldset>

}
